<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agendador Reuniões</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
			<span class="navbar-brand mb-0 h1" style="font-weight: bold;">Eventos</span>
			<a href="/newReserva" class="btn btn-primary" role="button">New Reserva</a>
		</nav>
	<div class="container" style="width: 70%; padding-bottom: 30px;">
		<h3>Listagem Reservas de Salas </h3>
		</br>		
		<table class="table table-striped">
  <thead >
    <tr>
      <th scope="col">Evento</th>
      <th scope="col">Local</th>
      <th scope="col">Data</th>
      <th scope="col">Hora Inícial</th>
      <th scope="col">Hora Final</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="evento : ${eventos}">
      <td ><a th:href="${(#mvc.url('EC#getEventoDetails').arg(0,evento.id)).build()}"><span th:text="${evento.nome}"></span></a></td>
      <td><span th:text="${evento.local}"></span></td>
      <td class="table-warning"><span th:text="${evento.data}"></span></td>
      <td class="table-info"><span th:text="${evento.horaInicial}"></span></td>
      <td class="table-info"><span th:text="${evento.horaFinal}"></span></td>
      <td class="table-info" style="width: 150px">
      <a class="btn btn-warning btn-sm" th:href="${(#mvc.url('EC#editEvento').arg(0,evento.id)).build()}">Editar</a>      
      <a class="btn btn-danger btn-sm" th:href="${(#mvc.url('EC#deletarEvento').arg(0,evento.id)).build()}" >Excluir</a>
      </td>
    </tr>    
  </tbody>
</table>		
	</div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>